.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side{
        
        height: 52rem;
      
        font-size: 2rem;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 1rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        overflow: hidden;


        &--front{
            background-color: $color-white;
        }

        &--back{
            
            
            transform: rotateY(180deg);

            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light,$color-secondary-dark);
            }

            &-2
            {
                background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark);
            }
           &-3
           {background-image: linear-gradient(to right bottom, $color-tertiary-light,$color-tertiary-dark);}
            
        }
    }
  
    
    &:hover &__side--front
    {
        transform: rotateY(-180deg);

    }

    &:hover &__side--back
    {
        transform: rotateY(0deg);
    }


    &__picture{

        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
       
        -webkit-clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
  
        clip-path: polygon(0 0,100% 0,100% 80%,0 100%);

        &--1{

         background-image:linear-gradient(to right bottom, $color-secondary-light,$color-secondary-dark),url(../img/nat-5.jpg);   
        }

        &--2{

            background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark),url(../img/nat-6.jpg);   
           }

           &--3{

            background-image: linear-gradient(to right bottom, $color-tertiary-light,$color-tertiary-dark),url(../img/nat-7.jpg);   
           }

             }

             &__heading{
                font-size: 2.8rem;
                font-weight: 300;
                text-transform: uppercase;
                text-align: right;
                color: $color-white;
                position: absolute;
                top: 9rem;
                right: 2rem;
               width: 75%;
               
               }

               &__heading-span
               {
                padding: 1rem 1rem;
                -webkit-box-decoration-break: clone;

                box-decoration-break: clone;

                  &--1
                  {
                   background-image: linear-gradient(to right bottom,rgba($color-secondary-light,0.85), rgba($color-secondary-dark,0.85));

                  }

                  &--2
                  {
                    background-image: linear-gradient(to right bottom,rgba($color-primary-light,0.85), rgba($color-primary-dark,0.85));
                  }

                  &--3
                  {
                    background-image: linear-gradient(to right bottom,rgba($color-tertiary-light,0.85), rgba($color-tertiary-dark,0.85));
                  }

               }
           
       &__details
       {
         padding: 3rem;
          
           ul{
            padding-left: 0px;
            list-style: none;
            width: 80%;
            margin:0px auto;

           }

           li{
            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;

            &:not(:last-child){
                border-bottom: 1px solid $color-grey-light-2;
            }

           }
       }


       //Back side Styling

       &__cta
       {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
       }

       &__price-box
       {
           text-align: center;
           margin-bottom: 8rem;
           color: white;
       }

       &__price-only
       {
           font-size: 2rem;
           text-transform: uppercase;
           margin: 0px;
       }

       &__price-value
       {
        font-size: 6rem;
        font-weight: 300;
        margin: 0px;
       }



            @include respond(tab_port)
            {
    
                        height: auto;
                        border-radius: 1rem;
                        background-color: $color-white;
                        box-shadow: 0 1.5rem 3rem rgba($color-black, 0.15);

                &__side{
                        
                        height: auto;
                        box-shadow: none;
                        font-size: 2rem;
                        position: relative;

                       
                        
                       &--back{
                        
                        border-radius: 0;
                        transform: rotateY(0deg);
                        clip-path: polygon(0 15%, 100% 0, 100% 100%,0 100%);

                        &-1{
                            background-image: linear-gradient(to right bottom, $color-secondary-light,$color-secondary-dark);
                        }

                        &-2
                        {
                            background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark);
                        }
                    &-3
                    {background-image: linear-gradient(to right bottom, $color-tertiary-light,$color-tertiary-dark);}
                        
                    }
                }
            
                
                &:hover &__side--front
                {
                    transform: rotateY(0deg);

                }

               

                //Back side Styling

                &__cta
                {
                    padding: 5rem 0 0 0;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    
                    text-align: center;

                    a{
                       position: relative;
                       top:10rem;
                    }
                }

                &__price-box
                {
                 
                    text-align: center;
                    position: relative;
                    top: 16rem;
                    color: white;
                }

                &__price-only
                {
                    font-size: 1rem;
                    text-transform: uppercase;
                    margin: 0px;
                }

                &__price-value
                {
                    font-size: 4rem;
                    font-weight: 300;
                    margin: 0px;
                }

                

                        }
}